//Animations


//Hover zoom animation with drop shadow
.anim-pop{
    @include transition( 0.2s);
    &:hover{@include transition( 0.2s);transform: translate(3px, 3px) scale(1.05);box-shadow: 2px 2px 12px rgba(0,0,0,.3);z-index: 1;}
}

.anim-fade{
    @include transition( .6s);opacity:0;position:absolute;
    &.in{@include transition( .6s);opacity:1;position:static;}
    .in-out{
        @include transition( .6s);opacity:0;animation: fade 2s linear;position:static;transition-delay: 2s;
    }
}

.anim-fade-in{
  opacity:0;animation: fade .3s ease-in;animation-fill-mode:forwards; position:relative;
}
@keyframes fade  { from { opacity:0;} to { opacity:1;} }

.anim-slide-in-from-right{
  position:relative;animation: slideInFromRight .6s ease-out;animation-fill-mode:forwards;
}
@keyframes slideInFromRight  { from { left:20px;} to {left:0px;} }

.anim-slide-in-from-left{
  position:relative;animation: slideInFromLeft .6s ease-out;animation-fill-mode:forwards;
}
@keyframes slideInFromLeft  { from { left:-20px;} to {left:0px;} }

.anim-slide-in-from-top { position: relative; animation: slideInFromTop .6s ease-out; animation-fill-mode: forwards; }
@keyframes slideInFromTop {
    from { top: -20px; }
    to { top: 0px; }
}

.anim-rotate-left-90{
  .fa{@include transition( 0.1s);}
  &:hover .fa{    transform: rotate(-90deg);@include transition( 0.1s);}
}

.anim-rotate-right-90{
  .fa{@include transition( 0.1s);}
  &:hover .fa{transform: rotate(90deg);@include transition( 0.1s);}
}

.anim-go-back{
  .fa{@include transition( .1s);position:relative;left:0px;}
  &:hover .fa{@include transition( .1s);left:-5px;}
}


.fade-out-delay {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s linear, opacity .5s linear 1s;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
