// Global branded styling. App specific styling should NOT go in this file
body{font-family: "Open Sans", sans-serif;color: #484F59; background-color: #f9fafd;}
code{display:block;padding:0.5rem;}
section { padding: 1rem; background: white; padding-bottom: 0.2rem; margin-bottom: 1rem; border: 1px solid #dee0e8;
    &.nopad {padding:0; }
    & > .table { margin: -1rem; margin-bottom: 0; }
}
.embedded header{display:none;}

.api-hover{position:fixed;bottom:20px;right:20px;z-index:200;
    .alert{box-shadow: 3px 3px 8px rgba(0,0,0,0.5);}
}
.sidebar{background-color: #2f6491;color:white;}

.sticky {position: sticky;top: 0;z-index: 150;}
.sticky-error{
    position:sticky;margin:1.5rem;bottom:20px;z-index:5;box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
    code{display:block;margin-top:3px;font-size: 0.75rem;}
}

.no-support{
    @extend .alert-danger;padding:.5rem 0;position:absolute;top:0px;left:0px;right:0px;
}
