// Global branded styling. App specific styling should NOT go in this file

// Buttons
button{cursor:pointer;}
.btn{
    cursor:pointer;box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);@include transition( 0.1s);
    &:hover:not([disabled]){box-shadow: 2px 4px 5px 0 rgba(0,0,0,.16),2px 4px 10px 0 rgba(0,0,0,.12);@include transition( 0.1s);}//transform: translate(-2px, -2px) scale(1.03);
    &.btn-static{transition:none!important;transform:none!important;box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12)!important;}
    &.btn-xs{padding: 0.2rem 0.5rem;font-size: 0.6rem;}
    
    &.btn-primary{color:#fff;@include gradient($interact-primary-lt,$interact-primary);border:1px solid $interact-primary; text-shadow: 1px 1px 2px rgba(0,0,0,.25);
        &:hover:not([disabled]){background:$interact-primary ;border:1px solid $interact-primary ;box-shadow: initial;text-shadow:none;}
    }

    &.btn-outline-primary{color:$interact-primary ;background:#fff;border:1px solid $interact-primary ;box-shadow: initial;
        &:hover:not([disabled]){color:#fff;@include gradient($interact-primary,$interact-primary);border:1px solid $interact-primary;}
    }

    &.active, &.enabled{background-image: linear-gradient(to top, #ad0000 0%, #ff4343 100%);color:#fff;border:1px solid red;}

    &.btn-waiting{
        .fa{display:none;}
        &:before{ font-family: FontAwesome;content: "\f110";animation: fa-spin 2s infinite linear;display:inline-block;position:relative;left:-3px;}
    }
    &.btn-waiting-after{
        .fa{display:none;}
        &:after{ font-family: FontAwesome;content: "\f110";animation: fa-spin 2s infinite linear;display:inline-block;position:relative;left:-3px;}
    }

    &[disabled]{
       color:dimgray;border-color:#a7a7a7;background: #ededed;
    }

}

// Button Groups
.input-group .btn, .input-group .btn:hover{box-shadow:none;transform:none;}
