header#masthead {
    background-color: $bg-primary;
    transition: all .3s ease-in-out;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    margin-bottom: 1rem;
    &.pinned { transform: initial; position: sticky; }
    &.unpinned { transform: translateY(-100%); }
    .hamburger { position: relative; padding-left: 1.25em; }
    .hamburger:before { content: ""; position: absolute; left: 0; top: 0.25em; width: 100%; height: 0.15em; background: #fff; box-shadow: 0 0.4em 0 0 #fff, 0 0.8em 0 0 #fff; }

    .navbar-brand { color: #fff; padding-top: .5rem; padding-bottom: .5rem;
        strong { color: #fff; }
        .fa { color: yellow; }
    }
    .logo { text-shadow: 1px 1px 5px rgba(255,255,255,.3); color: $interact-primary; }

    .search-group { padding: 0.5em 1em;
        .form-control, .btn { border: 0; }
        .btn { border-left-width: 1px; }
        .search-option { width: 7rem; }
        .search-field { width: 8rem; }
    }

    .navbar { padding: 0; padding-bottom: .20rem;
        .navbar-nav > .nav-item .nav-link, .form-inline > a:not([href]):not([tabindex]) { color: white;
            &.active { border-bottom: 2px solid white; padding-bottom: .25rem; }
        }
        #navbar-main .link { color: white; }
        .navbar-toggler { border-color: rgba(255, 255, 255, 0.5); color: white; font-size: 1.1rem; top: .75rem; padding: .5rem; padding-top: .3rem;
            div { background-color: black; margin: 6px 0; }
        }
    }

    @media (min-width: 991px) {
        .nav-component, .navbar-mobile { display: flex; flex-direction: row; flex-wrap: nowrap; align-items: center; width: 100%; }
    }

    @media (max-width: 991px) {
        .collapse { display: block; }
        .navbar-mobile {
            position: fixed;
            background: white;
            left: -80%;
            top: 0px;
            bottom: 0px;
            width: 80%;
            z-index: 999;
            display: block;
            @include transition();
            padding: 1rem 0;
            overflow-y: auto;
            will-change: transform;
            backface-visibility: hidden;
        }
        #nav-mobile-bg {
            position: relative;
            left: 0px;
            top: 0px;
            bottom: 0px;
            right: 0px;
            background-color: rgba(0, 0, 0, 0.3);
            cursor: pointer;
            opacity: 0;
            @include transition();
        }

        .show {
            .navbar-nav .nav-item a.nav-link { color: #000; display: block; width: 100%; padding: .35rem .75rem; }
            .navbar-mobile {
                left: 0px;
                @include transition();
                box-shadow: 5px 0px 40px rgba(0, 0, 0, .5);
            }
            #nav-mobile-bg {
                position: fixed;
                z-index: 998;
                opacity: 1;
                @include transition();
            }
        }

        .navbar-nav .nav-link.active { background-color: #f7f7f9; }
        a.logout { display: block; }
        .dropdown { border-top: 1px solid #ccc; display: block; width: 100%; }
        .dropdown-toggle { display: none; }
        .dropdown-menu { display: block; border: 0; float: none; float: none; position: initial; width: 100%; }

        &.navbar-inverse .nav-link, &.navbar-inverse .nav-link.active, .dropdown-item { color: black; padding: .5rem 1rem;
            &:hover { color: black; background-color: #f7f7f9; }
            &:active { background-color: #e7e7e7; }
        }
    }
}
